apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    argocd.argoproj.io/ignore-health-check: "true"
  name: nodejs-app
  namespace: nodejs
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nodejs
  template:
    metadata:
      labels:
        app: nodejs
    spec:
      containers:
      - name: nodejs
        image: narendra115c/node-js:node-js-master-85-39b36c2
        env:
          - name: CRASH_ON_START
            value: "true"
        ports:
        - containerPort: 3000
